body {
    margin: 0;
    background-color: #d3ec9b;
    height: 100%;
}

.checkbox-tags {
    display: inline-block;
}

form label {
    display: inline-block;
    width: 120px;
    text-align: left;
}

.addButton {
    max-width: 612px;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-areas:
    "header"
    "menu"
    "footer";
    grid-template-rows: auto;
    grid-template-columns: 3fr;
    gap: 5px;
    background-color: black;
    height: 100%;
    width: 100%;
}

.container > div {
    padding: 45px;
}

.container > div.header {
    background-color: #d3ec9b;
    grid-area: header;
    text-align: center;
    height: 75px;
    background-size: 470px;
}

.container > div.menu {
    grid-area: menu;
    height: 300px;
    align-content: start;
    background-color: white;
}

.menu table {
    margin: 0 auto;
}


.container > div.footer {
    grid-area: footer;
    background-color: #d3ec9b;
}

h1 {
    width: 100%;
    height: 100%;
    color: black;
}

th {
    text-align: left;
    background-color: #d3ec9b;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.socials {
    width: 45px;
    height: auto;
    display: block;
    float: left;
    margin-left: 5px;
}