body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    gap: 5px;
}

.container > div {
    background-color: white;
    padding: 0;
}

.header {
    position: relative;
    grid-area: header;
    text-align: center;
    background-image: url("GettyImages-1587697699.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 375px;
    width: 100%;
}

.header-text-box {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 15px 40px;
    border-radius: 8px;
    max-width: 80%;
    text-align: center;
}

.header-text-box h1 {
    margin: 0 0 10px 0;
    font-size: 2rem;
}

.content {
    margin-top: 60px;
    padding: 5px;
}

.content table {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.addAttraction {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}

.footer {
    background-color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.socials {
    width: 45px;
    height: auto;
    display: block;
    float: left;
    margin-left: 5px;
}