body {
    height: 100vh;
    background: linear-gradient(133deg, rgba(31, 58, 77, 1) 0%, rgba(33, 130, 119, 1) 100%) no-repeat;
    color: white;
    margin: 0;
}
h1{
    color: white;
    margin: 20px;
    text-align: center;
}
table {
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
}

table td {
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    transition: all 0.2s ease;
}

table td:hover {
    background-color: #1f3a4d;
    color: white;
    cursor: pointer;
}
.content{
    text-align: center;
}
.attraction-img {
    max-width: 800px;
    width: 100%;
    border-radius: 12px;
    display: block;
    margin: 75px auto 20px auto; /* top | right | bottom | left */
}



