<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add attraction</title>
    <link th:href="@{/css/add.css}" rel="stylesheet">
    <link rel="icon" type="image/webp" th:href="@{/images/flag.webp}">
</head>
<body>
<h1>Add attraction</h1>

<form action="#" th:action="@{/save}" th:object="${attraction}" method="post">

    <label>Name:</label>
    <label>
        <input type="text" th:field="*{name}">
    </label>

    <br><br>

    <label>Description:</label>
    <label>
        <input type="text" th:field="*{description}">
    </label>

    <br><br>

    <label>City:</label>
    <label>
        <select th:field="*{city}">
            <option value="">--Please select--</option>
            <option th:each="town : ${allCities}" th:value="${town}" th:text="${town}"></option>
        </select>
    </label>

    <br><br><br>

    <label>Tags:</label>
    <br><br>
    <div th:each="tag : ${allTags}" class="checkbox-tags">
            <input type="checkbox" th:field="*{tags}" th:value="${tag}" th:text="${tag}"/>
    </div>

    <br><br>

    <button type="submit">Save</button>

    <button type="button" onclick="window.location.href='/adminpage'">Cancel</button>

</form>
</body>
</html>