<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit attraction</title>
</head>
<body>
<h1>Edit attraction</h1>

<form action="#" th:action="@{/attraction/update}" th:object="${attraction}" method="post">

    <label>Name:</label>
    <input type="text" th:field="*{name}" readonly>

    <br>

    <label>Description:</label>
    <input type="text" th:field="*{description}">

    <br>

    <label>Entry fee</label>
    <input type="number" th:field="*{entryFee}">

    <br>

    <label>City:</label>
    <select th:field="*{city}">
        <option value="">--Please select--</option>
        <option th:each="town : ${allCities}" th:value="${town}" th:text="${town}"></option>
    </select>

    <br>

    <label>Tags:</label>
    <div th:each="tag : ${allTags}">
        <input type="checkbox" th:field="*{tags}" th:value="${tag}" th:text="${tag}"/>
    </div>

    <br>

    <button type="submit">Save</button>

</form>
<a th:href="@{/attraction/attractions}">
    <button>Cancel</button>
</a>
</body>
</html>