<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Attractions</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="icon" type="image/webp" th:href="@{/images/flag.webp}">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="header-text-box">
            <h1>Experience the best things <br> Denmark has to offer</h1>
        </div>
    </div>

    <div class="content">
        <table>
            <tr th:if="${attractions.isEmpty()}">There are no attractions</tr>
            <tr th:if="${!attractions.isEmpty()}">
                <th>Name</th>
                <th>Description</th>
                <th>City</th>
                <th>Tags</th>
            </tr>

            <tr th:each="attraction: ${attractions}">
                <td th:text="${attraction.name}"></td>
                <td th:text="${attraction.description}"></td>
                <td th:text="${attraction.cityID}"></td>

                <td><a th:href="@{/{name}/tags(name=${attraction.name})}">
                    <button>Tags</button>
                </a></td>
            </tr>
        </table>

        <div class="frontpage-button">
            <a th:href="@{/}">
                <button>Frontpage</button>
            </a>
        </div>

    </div>


    <div class="footer">
        <footer>Contact info:<br>
            <a href="https://github.com/SimAbild/turistguide.git" target="_blank">
                <img th:src="@{/images/githublogo.png}" alt="github" class="socials"></a>
            <a href="https://www.instagram.com/_ekdigital?igsh=ZWNzY3MxcGRhcHli" target="_blank">
                <img th:src="@{/images/Instagram_icon.png}" alt="instagram" class="socials"></a>

        </footer>
    </div>

</div>

</body>
</html>