<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit attraction</title>
    <link th:href="@{/css/add.css}" rel="stylesheet">
    <link rel="icon" type="image/webp" th:href="@{/images/flag.webp}">
</head>
<body>
<h1>Edit attraction</h1>

<form th:action="@{/update}" th:object="${attraction}" method="post">
    <input type="hidden" th:field="*{attractionID}"/>

    <label>Name:</label>
    <input type="text" th:field="*{name}"/>

    <label>Description:</label>
    <input type="text" th:field="*{description}"/>

    <label>City:</label>
    <select th:field="*{cityID}">
        <option th:each="town : ${allCities}"
                th:value="${town.cityID}"
                th:text="${town.name}">
        </option>
    </select>

    <label>Tags:</label>
    <div th:each="tag : ${allTags}">
        <input type="checkbox"
               name="tagIDs"
               th:value="${tag.tagID}"
               th:checked="${selectedTagIDs.contains(tag.tagID)}"/>
        <span th:text="${tag.name}"></span>
    </div>

    <button type="submit">Save</button>
    <button type="button" onclick="window.location.href='/adminpage'">Cancel</button>
</form>

</body>
</html>

