<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link th:href="@{/css/forside.css}" rel="stylesheet">
</head>
<body>

<div class="titlebox">
    <div class="titleheader">
        <h1>Welcome to JMS Michelin touristbook</h1>
    </div>
</div>

<img th:src="@{/images/forsidebillede.png}" alt="Forside billede" class="forside-image">

<div class="take-me-to-touristbook">
    <a href="/attractions">Read tourist book</a>
</div>

<div class="take-me-to-admin-page">
    <a href="/login">Admin Page</a>
</div>

</body>
</html>